.carousel {
  position: relative;
  overflow: hidden;
  height: 415px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 25px;
}

.carousel::after {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    rgba(0, 0, 0, 0.5)
  );
  content: "";
  inset: 0;
  position: absolute;
  opacity: 30%;
}

.carousel-images img {
  height: 415px;
  max-width: 100%;
  object-fit: cover;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}

.carousel-arrow-left {
  left: 23.3px;
}

.carousel-arrow-right {
  right: 23.3px;
}

.carousel-arrow img {
  height: 79.2px;
  width: 46.68px;
}

.carousel-arrow-left img {
  transform: rotate(180deg);
  margin-right: 10px;
}

.carousel-arrow-right img {
  margin-left: 10px;
}

.carousel-counter {
  position: absolute;
  top: 357.67px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  height: 32.4px;
  width: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .carousel {
    height: 255px;
    border-radius: 10px;
  }
  
  .carousel-images img {
    height: 255px; 
  }
  
  .carousel-arrow img {
    height: 19.8px;
    width: 11.67px;
    left: 6.49px;
    top: 2.1px;
    border-radius: 0px;
  }
  
  .carousel-counter {
    display: none;
  }
  .carousel-arrow-left {
    left: 5.84px;
  }
  
  .carousel-arrow-right {
    right: 5.84px;
  }
}
